@page "/empleadolist"
@using Model
@using Interfaces
@inject IEmpleadoService  EmpleadoService



<h3>EmpleadoList</h3>
<p>Esta pagina muestra la lista de todos los Empleados</p>

<!--si la variable films esta vacia imprimir mensaje-->
@if (empleados == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Departamento</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empleado in empleados)
            {
                <tr>
                    <td>@empleado.Id</td>
                    <td>@empleado.Name</td>
                    <td>@empleado.City</td>
                    <td>@empleado.Departament</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    //metodo del ciclo de vida de la pagina
    private IEnumerable<Empleados> empleados;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            empleados = await EmpleadoService.GetAllEmpleados();
        }
        catch (Exception)
        {
            throw;
        }
    }

}
