@page "/fileinput"
@using BlazorCRUD.UI.Services
@inject IFileUpload fileUplaod

<h3>Subir Archivo</h3>

<InputFile OnChange="HandleFileSelected"></InputFile>

@if (file != null)
{
    <p>Name:@file.Name</p>
    <p>Size in Bytes:@file.Size</p>
    <p>File type:@file.Type</p>
}

@code {
    IFileListEntry file;
    async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            await fileUplaod.UploadAsync(file);
        }
    }

}
